
    <div>
        <button class="btn btn--primary">Get Started</button>
        <a class="btn btn--primary">On Anchor</a>
        <button class="btn btn--secondary">Try out button sample</button>
        <button class="btn btn--accent">Try out button sample</button>
        <button class="btn btn--outline">Get Started</button>
      </div>
      <div>
        <button   class="btn btn--primary btn--block">Get Started</a>
      </div>
  
      <div>
        <a class="btn btn--primary btn--block">On Anchor</a>  
      </div>